let tickets = JSON.parse(localStorage.getItem("tickets")) || [];

const form = document.getElementById("ticketForm");
const ticketList = document.getElementById("ticketList");
const search = document.getElementById("search");

displayTickets();

form.addEventListener("submit", function(e){

e.preventDefault();

let ticket = {

name: document.getElementById("name").value,
email: document.getElementById("email").value,
issue: document.getElementById("issue").value,
priority: document.getElementById("priority").value,
status: "Open"

};

tickets.push(ticket);

saveTickets();

displayTickets();

form.reset();

});


function displayTickets(filter=""){

ticketList.innerHTML="";

tickets
.filter(t => t.issue.toLowerCase().includes(filter.toLowerCase()))
.forEach((ticket,index)=>{

let li=document.createElement("li");

li.className="ticket";

let priorityClass="priority-low";

if(ticket.priority==="High") priorityClass="priority-high";
if(ticket.priority==="Medium") priorityClass="priority-medium";

li.innerHTML=`

<strong>${ticket.name}</strong> (${ticket.email})<br>
Issue: ${ticket.issue}<br>
Priority: <span class="${priorityClass}">${ticket.priority}</span><br>
Status: ${ticket.status}

<br><br>

<button onclick="resolveTicket(${index})">Resolve</button>
<button onclick="deleteTicket(${index})">Delete</button>

`;

ticketList.appendChild(li);

});

}

function resolveTicket(index){

tickets[index].status="Resolved";

saveTickets();

displayTickets();

}

function deleteTicket(index){

tickets.splice(index,1);

saveTickets();

displayTickets();

}

function saveTickets(){

localStorage.setItem("tickets",JSON.stringify(tickets));

}

search.addEventListener("input",function(){

displayTickets(this.value);

});



document.getElementById("loadTips").addEventListener("click",function(){

fetch("https://jsonplaceholder.typicode.com/posts?_limit=3")

.then(res=>res.json())

.then(data=>{

let tips=document.getElementById("tipsList");

tips.innerHTML="";

data.forEach(post=>{

let li=document.createElement("li");

li.textContent=post.title;

tips.appendChild(li);

});

});

});
