body{

font-family:Arial;
margin:0;
background:linear-gradient(120deg,#ff512f,#dd2476,#1fa2ff);

color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:rgba(0,0,0,0.4);

}

.loginBody{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.loginBox{

background:white;
color:black;
padding:40px;
border-radius:15px;

}

.stats{

display:flex;
gap:20px;
justify-content:center;
margin:20px;

}

.statCard{

background:rgba(255,255,255,0.2);
padding:20px;
border-radius:10px;
width:200px;
text-align:center;

}

.ticketForm{

margin:20px;
padding:20px;
background:rgba(0,0,0,0.3);

}

.controls{

text-align:center;

}

input,select,button{

padding:10px;
margin:10px;

border:none;
border-radius:8px;

}

button{

background:#00e5ff;
cursor:pointer;

}

ul{

list-style:none;

}

li{

background:rgba(255,255,255,0.2);
padding:15px;
margin:10px;
border-radius:10px;

}
