body{

margin:0;
font-family:Arial;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

}

header{

text-align:center;
padding:30px;
font-size:28px;

}

.dashboard{

display:flex;
justify-content:center;
gap:30px;
margin:30px;

}

.card{

background:rgba(255,255,255,0.1);

backdrop-filter:blur(10px);

padding:30px;

border-radius:15px;

text-align:center;

width:200px;

box-shadow:0 10px 25px rgba(0,0,0,0.4);

}

.formSection{

background:rgba(255,255,255,0.1);

margin:40px;

padding:30px;

border-radius:15px;

}

input,select,button{

padding:12px;
margin:10px;
border:none;
border-radius:8px;

}

button{

background:#00c6ff;

color:white;

cursor:pointer;

}

button:hover{

background:#0072ff;

}

.controls{

text-align:center;

}

ul{

list-style:none;

padding:20px;

}

li{

background:rgba(255,255,255,0.1);

margin:10px;

padding:15px;

border-radius:10px;

}
